*{
  background-color: rgb(198, 177, 149);
}
.clock-container{
  align-items: center;
  justify-content: center;
  display: flex;
  height:70vh;
  color: whitesmoke;
}

.container{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.p-l-10{
  padding-left:10px;
}
.f-30{
  font-size: 30px;
}

.f-40{
  font-size: 40px;
}
.letter-spacing{
  letter-spacing: 2px;
}

.mt-20{
  margin-top: 20px;
}

.p-10{
  padding: 10px;
}

.mr-10{
  margin-right: 10px;
}

.mr-30{
  margin-right: 30px;
}
.mb-40{
  margin-bottom: 40px;
}
.btn{
  background-color: antiquewhite;
  border:none;
  width:60px;
  height: 40px;
}

.btn:hover{
  border: 1px solid rgb(81, 104, 123);
}

.lap{
  align-items: center;
  justify-content: center;
  display: flex;
  border-left: 2px solid rgb(102, 43, 43);
  margin-bottom: 4px;
  height: 40px;
  font-size: 16px;
  color: rgb(73, 73, 62);
  letter-spacing: 4px;
}
.laps{
  height:auto;
  overflow-y: scroll;
  position: absolute;
  width: 20vw;
  text-align: center;
  max-height: 200px;
}
.bg-color-smoke{
  background-color: antiquewhite;
}